## 1.7 Introduction to Python

### 1.7.1 Declaring Variables

In [10]:
var1 = 20
var2 = 5.0
var3 = True
var4 = "Machine Learning"

In [11]:
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)

Value of var1 : 20
Value of var2 : 5.0
Value of var3 : True
Value of var4 : Machine Learning

In [12]:
type( var1 )

int

In [13]:
type( var2 )

float

In [14]:
type(var3)

bool

In [15]:
type(var4)

str

### 1.7.2 Conditional Statements

In [16]:
# Checking a condition if the variable value is more than 10
if var1 > 10:
    print( "Bigger than 10" )

Bigger than 10

In [17]:
x = 20
y = 22

# if x is greater than y
if x > y:
    print ("x > y")
# if x is lesser than y    
elif x < y:
    print ("x < y")
else:        
    print ("x = y")

x < y

### 1.7.3 Generating Sequence Numbers

In [24]:
# Initializing the sequence of numbers starting from 1
# and ending (not including) with 10
numbers = range( 1, 10)

numbers

range(1, 10)

In [25]:
list(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
numbers = range( 5, 15, 3)
list(numbers)

[5, 8, 11, 14]

### 1.7.4 Control Flow Statements

In [27]:
# Iterate through the collection
for i in numbers:
    print (i)

5
8
11
14

In [29]:
# Initialize the value of 1
i = 1

# check the value of i to check if the loop will be continued or not
while i < 10:
    
    print(i)
    # Increment the value of i.
    i = i+1
    
# print after the value of i
print('Done')

1
2
3
4
5
6
7
8
9
Done

### 1.7.5 Functions

In [30]:
def addElements( a, b ):
    ## processing
    return a + b

In [31]:
result = addElements( 20, 30 )

result

50

In [32]:
result = addElements( 12.3, 4.5 )

result

16.8

In [35]:
result = addElements( "Python", "_Workshop" )

result

'Python_Workshop'

In [41]:
def addElements( a, b = 40 ):
    return a + b

In [42]:
addElements( 2 )

42

In [43]:
addElements( 2, 50 )

52

In [44]:
def addElements( a, b ):
    return a + b, a - b

In [45]:
x, y = addElements(40, 30)

In [46]:
x

70

In [47]:
y

10

In [48]:
z = addElements(40, 30)

In [49]:
z[0]

70

In [50]:
z[1]

10

### 1.7.6 Working with Collections

#### 1.7.6.1 List

In [51]:
## Create an empty list
emptyList = []

In [57]:
batsmen = ['Sourav', 'Sachin','Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni','Gavaskar']

In [53]:
batsmen[0]

'Sourav'

In [54]:
## Slicing an list
batsmen[0:2]

['Sourav', 'Sachin']

In [58]:
## Accessing the last element
batsmen[-1]

'Gavaskar'

In [59]:
batsmen[-3:]

['Rayudu', 'Dhoni', 'Gavaskar']

In [60]:
# how many elements in the list
len( batsmen )

9

In [61]:
bowlers = ['Srinath','Kumble','Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal','Kapil']

In [62]:
all_players = batsmen + bowlers

In [63]:
all_players

['Sourav',
 'Sachin',
 'Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Gavaskar',
 'Srinath',
 'Kumble',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal',
 'Kapil']

In [64]:
'Kapil' in bowlers

True

In [65]:
'Gavaskar' in bowlers

False

Finding the index of an item in the list.

In [66]:
all_players.index( 'Dhoni' )

7

In [67]:
all_players.reverse()

all_players

['Kapil',
 'Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Kumble',
 'Srinath',
 'Gavaskar',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit',
 'Sachin',
 'Sourav']

#### 1.7.6.2 Tuples

In [78]:
tPlayers = tuple( all_players )

In [79]:
tPlayers

('Kapil',
 'Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Kumble',
 'Srinath',
 'Gavaskar',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit',
 'Sachin',
 'Sourav')

In [76]:
tBowlers = ('Srinath','Prasad','Kumble')

In [77]:
tBowlers

('Srinath', 'Prasad', 'Kumble')

#### 1.7.6.3 Set

In [83]:
setOfNumbers = {0,6,1,1,2,4,5,5}

In [84]:
setOfNumbers

{0, 1, 2, 4, 5, 6}

In [85]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj"}
wc2019 = {"Dhoni", "Dhawan", "Rohit", "Kohli", "Bumrah", "Pandya", "Jadeja"}

In [86]:
wc2011.union( wc2019 )

{'Bumrah',
 'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Pandya',
 'Raina',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yuvraj'}

In [87]:
len(wc2011.union( wc2019 ))

12

In [88]:
wc2011.intersection( wc2019 )

{'Dhoni', 'Kohli'}

In [89]:
wc2019.difference( wc2011 )

{'Bumrah', 'Dhawan', 'Jadeja', 'Pandya', 'Rohit'}

#### 1.7.6.4 Dictionary

In [92]:
wcWinners = { 1975: "West Indies", 
              1979: "West Indies", 
              1983: "India",
              1987: "Australia",
              1991: "Pakistan",
              1996: "Srilanka",
              1999: "Australia",
              2003: "Australia",
              2007: "Australia",
              2011: "India",
              2015: "Australia",
              2019: "England"
            }

In [93]:
wcWinners[2011]

'India'

In [94]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India', 'Australia', 'England'])

In [95]:
set(wcWinners.values())

{'Australia', 'England', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

### 1.7.7 Dealing with Strings

In [100]:
string1 = 'python'
string2 = """data science"""

In [101]:
string3 = """This is a 
 multiline string"""

In [103]:
print(string1)
print(string2)
print(string3)

python
data science
This is a
 multiline string

In [106]:
string4 = "python"

if string1 == string4:
    print('They are same')
else:
    print('They are not same')

They are same

In [107]:
# Converting to upper case
string1.upper()

'PYTHON'

In [108]:
# Similarly string.lower() can be used to convert to lower case.
string1.lower()

'python'

In [110]:
tokens = string2.split()
tokens

['data', 'science']

### 1.7.8 Functional Programming
#### 1.7.8.1 Example 1: Map

In [111]:
intList = [1,2,3,4,5,6,7,8,9,10]

In [112]:
# Create an empty list.
cubeList = []

# Loop through the intList, cube every item and append to result list squareList.
for x in intList:
    cubeList.append( pow( x, 3 ) )

print( cubeList )

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [113]:
def cube_me( x ):
    return x * x * x

In [123]:
cubeList = map( cube_me, intList)

In [124]:
list(cubeList)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [126]:
cubeList = map(lambda x: x*x*x, intList)
list(cubeList)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [129]:
cubeList = [x*x*x for x in intList]

In [130]:
list(cubeList)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### 1.7.8.2 Example 2: Filter

In [138]:
divisibleBy3 = filter( lambda x : x % 3 == 0, intList )

In [139]:
list( divisibleBy3 )

[3, 6, 9]

In [153]:
divisibleBy3 = [x for x in intList if x%3==0]

In [154]:
divisibleBy3

[3, 6, 9]

### 1.7.9 Modules and Packages

In [141]:
import math

## Taking square root of a value
math.sqrt(100)

10.0

### 1.7.10 Other Features

In [147]:
import random 

randomList = random.sample( range(0, 50), 10)

randomList

[28, 36, 19, 16, 46, 30, 13, 48, 29, 9]

In [148]:
from statistics import mean, median

def getMeanAndMedian( listNum ):
    return mean(listNum), median(listNum)

In [150]:
mean, median = getMeanAndMedian( randomList )

In [151]:
print( "Mean: ", mean, " Median: ", median)

Mean:  27.4  Median:  28.5