## Introduction to Python

This is an excercise on fundamentals of Python Programming language. This will introduct the important concepts or features of Python, which are essential from the Data Sciene perspective.
    The key topics in this tutorial are:
        Variables and data types
        Print statements
        Arithmatic and logical operations
        Conditional statements
        Control flow statements
        Dealing with string
        Writing functions

### Declaring Variables

In Python, variables need not be declared or defined in advance. To create a variable, assign it a value and then start using it.

In [5]:
var1 = 20
var2 = 5.0
var3 = True
# Declare a string "Machine Learning"
var4 = ?

### Printing Variable Values

In [11]:
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)

Value of var1 : 20
Value of var2 : 5.0
Value of var3 : True
Value of var4 : Machine Learning

### Advanced Print Functions

- **f-strings** (formatted string literals) are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

In [7]:
print(f"Value of var1 is: {var1}, var2 is: {var2:0.3?} ")

Value of var1 is: 20, var2 is: 5.000

In [12]:
type( var1 )

int

In [13]:
type( var2 )

float

In [14]:
type(var3)

bool

In [15]:
type(var4)

str

#### Note:

Variables are not statically typed. 

In statically typed languages (e.g. c, java), a variable is initially declared to have a specific data type, and any value assigned to it during its lifetime must always have that type.

In Python, a variable may be assigned a value of one type and then later re-assigned a value of a different type.

In [2]:
tempVar = 3.0
type(tempVar)

float

In [3]:
# Initialize tempVar by "Machine Learning"
tempVar = ?
type(tempVar)

str

### Operations on variables .. Arithmatic or logical

In [9]:
total = var1 + var2

# Print the value of total
?

25.0

In [11]:
var1 * var2

100.0

In [15]:
var1 == 20

True

In [14]:
var1 == var2

False

### Conditional Statements

```
if <expr>:
    <statement>
    <statement>
    .
    .
    .
    <statement>
```

Note:

The colon **(:)** following **&lt;expr&gt;** is must. 
**&lt;statement&gt;** is a valid Python statement, which must be indented.     
There can be one or more valid python **&lt;statement(s)&gt;**

In [16]:
# Checking a condition if the variable value is more than 10
if var1 > 10:
    print( "Bigger than 10" )

Bigger than 10

#### Multiple Conditions

```
if <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
    ...
else:
    <statement(s)>
```

In [17]:
x = 20
y = 22

# Write a multiple condition such that if x is greater than y,  print x > y else print x < y
?

x < y

#### Inline conditional statements

In [24]:
x = 10
oddEven = "even" if x % 2 == 0 else "odd"
oddEven

'even'

#### Checking None

In [18]:
var5 = None

In [20]:
if var5 is None:
    print ("It is None")

It is None

In [21]:
# Initialize the variable by 5

var5 = ?

In [22]:
if var5 is not None:
    print ("It is not None")

It is not None

### Generating Sequence Numbers

In [24]:
# Initializing the sequence of numbers starting from 1 and ending (not including) with 10
numbers = range( 1, ?)

numbers

range(1, 10)

In [25]:
list(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# Initializing the sequence of numbers starting from 1 and ending (not including) with 15 with step size 3

numbers = range( 5, 15, ?)
list(numbers)

[5, 8, 11, 14]

### Control Flow Statements

In [27]:
# Iterate through the numbers
for i in numbers:
    print (i)

5
8
11
14

In [28]:
# Initialize the value of 1
i = 1

while i < 10:
    oddEven = "even" if i % 2 == 0 else "odd"
    print(f"{i} is {oddEven}")
    i = i+1
    
# print after loop is executed
print('Done')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
Done

### Functions

* Data types of parameters types are not defined. 
* The types are inferred from values passed to the function.

```
def <function_name>([<parameters>]):
    <statement(s)>
```

In [30]:
def addElements( a, b ):
    ## processing
    return a + b

In [31]:
# Pass the value 20 and 30 for a and b to the function addElements and store the returned value in result
result = ?

result

50

In [32]:
result = addElements( 12.3, 4.5 )

result

16.8

In [35]:
result = addElements( "Python", "_Workshop" )

result

'Python_Workshop'

#### Function parameters can be optional

The default value for the parameters can be defined in function signatures.

In [41]:
def addElements( a, b = 40 ):
    return a + b

In [42]:
addElements( 2 )

42

In [43]:
addElements( 2, 50 )

52

#### Functions can return multiple values

In [44]:
def addElements( a, b ):
    return a + b, a - b

In [45]:
x, y = addElements(40, 30)

In [46]:
x

70

In [47]:
y

10

In [48]:
z = addElements(40, 30)

In [49]:
z[0]

70

In [50]:
z[1]

10

#### Participant Exercise

    Write a function
        named getAgeGroup
        which takes a paramter age
        the default value of the age is 40
        it returns the age group as either "young" or "adult" or 'mid-age" or "old" based on age
            if age < 20, then return young
            if age >= 20, but < 35 then adult
            if age >= 35, but < 55 then mid-age
            if age > 55 then old
    Invoke the function with different ages and test

### Working with Collections

#### List

In [51]:
## Create an empty list
emptyList = []

In [57]:
batsmen = ['Sourav', 'Sachin','Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni','Gavaskar']

In [53]:
batsmen[0]

'Sourav'

In [54]:
## Slicing an list
batsmen[0:2]

['Sourav', 'Sachin']

In [58]:
## Accessing the last element
batsmen[-1]

'Gavaskar'

In [59]:
batsmen[-3:]

['Rayudu', 'Dhoni', 'Gavaskar']

In [60]:
# how many elements in the list
len( batsmen )

9

In [61]:
bowlers = ['Srinath','Kumble','Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal','Kapil']

In [62]:
all_players = batsmen + bowlers

In [63]:
all_players

['Sourav',
 'Sachin',
 'Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Gavaskar',
 'Srinath',
 'Kumble',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal',
 'Kapil']

In [64]:
'Kapil' in bowlers

True

In [65]:
'Gavaskar' in bowlers

False

Finding the index of an item in the list.

In [66]:
all_players.index( 'Dhoni' )

7

In [67]:
# Reverse the list of items
all_players.?

all_players

['Kapil',
 'Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Kumble',
 'Srinath',
 'Gavaskar',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit',
 'Sachin',
 'Sourav']

#### Tuples

In [78]:
tPlayers = tuple( all_players )

In [79]:
tPlayers

('Kapil',
 'Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Kumble',
 'Srinath',
 'Gavaskar',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit',
 'Sachin',
 'Sourav')

In [76]:
tBowlers = ('Srinath','Prasad','Kumble')

In [77]:
tBowlers

('Srinath', 'Prasad', 'Kumble')

#### Set

In [83]:
setOfNumbers = {0,6,1,1,2,4,5,5}

In [84]:
setOfNumbers

{0, 1, 2, 4, 5, 6}

In [85]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj"}
wc2019 = {"Dhoni", "Dhawan", "Rohit", "Kohli", "Bumrah", "Pandya", "Jadeja"}

In [86]:
wc2011.union( wc2019 )

{'Bumrah',
 'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Pandya',
 'Raina',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yuvraj'}

In [87]:
len(wc2011.union( wc2019 ))

12

In [88]:
wc2011.intersection( wc2019 )

{'Dhoni', 'Kohli'}

In [89]:
wc2019.difference( wc2011 )

{'Bumrah', 'Dhawan', 'Jadeja', 'Pandya', 'Rohit'}

#### Dictionary

In [92]:
wcWinners = { 1975: "West Indies", 
              1979: "West Indies", 
              1983: "India",
              1987: "Australia",
              1991: "Pakistan",
              1996: "Srilanka",
              1999: "Australia",
              2003: "Australia",
              2007: "Australia",
              2011: "India",
              2015: "Australia",
              2019: "England"
            }

In [93]:
wcWinners[2011]

'India'

In [94]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India', 'Australia', 'England'])

In [95]:
set(wcWinners.values())

{'Australia', 'England', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

### Dealing with Strings

In [50]:
string1 = 'python'
string2 = """data science"""

In [101]:
string3 = """This is a 
 multiline string"""

In [103]:
print(string1)
print(string2)
print(string3)

python
data science
This is a
 multiline string

In [106]:
string4 = "python"

# Check if string1 and string4 contain same value
?

They are same

In [38]:
len( string2 )

12

In [51]:
string2.find( "science" )

5

In [58]:
# Replace science by maths in the string2
string2 = string2.replace( 'science', ?)

In [59]:
string2.find( "science" )

-1

In [35]:
# Converting to upper case
string1.upper()

'PYTHON'

In [36]:
# Similarly lower() can be used to convert to lower case.
string1.?

'python'

In [37]:
# Capitalize string1
string1.?

'Python'

In [110]:
tokens = string2.split()
tokens

['data', 'science']

### Functional Programming
#### Example 1: Map

In [111]:
intList = [1,2,3,4,5,6,7,8,9,10]

In [112]:
# Create an empty list.
cubeList = []

# Loop through the intList, cube every item and append to result list squareList.
for x in intList:
    cubeList.append( pow( x, 3 ) )

print( cubeList )

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [113]:
def cube_me( x ):
    return x * x * x

In [123]:
cubeList = map( cube_me, intList)

In [124]:
list(cubeList)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [126]:
cubeList = map(lambda x: x*x*x, intList)
list(cubeList)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [129]:
cubeList = [x*x*x for x in intList]

In [130]:
list(cubeList)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### Example 2: Filter

In [138]:
divisibleBy3 = filter( lambda x : x % 3 == 0, intList )

In [139]:
list( divisibleBy3 )

[3, 6, 9]

In [153]:
divisibleBy3 = [x for x in intList if x%3==0]

In [154]:
divisibleBy3

[3, 6, 9]

### Modules and Packages

In [141]:
import math

## Taking square root of a value
math.sqrt(100)

10.0

### Other Features

In [147]:
import random 

randomList = random.sample( range(0, 50), 10)

randomList

[28, 36, 19, 16, 46, 30, 13, 48, 29, 9]

In [148]:
from statistics import mean, median

def getMeanAndMedian( listNum ):
    return mean(listNum), median(listNum)

In [150]:
mean, median = getMeanAndMedian( randomList )

In [151]:
print( "Mean: ", mean, " Median: ", median)

Mean:  27.4  Median:  28.5